@theme "rose-pine"

configuration {
    modi: "run,window,combi";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "ghossty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-combi: " 🖥️  All ";
    display-run: " 🏃  Run ";
    display-window: " 🪟  Window";
    sidebar-mode: true;
}

* {
    background: #1d1f21;
    foreground: #c5c8c6;
    border-color: #666666;
    selected-background: #b294bb;
    selected-foreground: #c5c8c6;
}
