let mapleader = " "

" clear search highlights with escape in normal mode
nnoremap <esc> :nohlsearch<cr>

" exit insert mode by typing 'jj'
inoremap jj <esc>

set relativenumber          " enable relative line numbers for motion
set scrolloff=5             " keep cursor 5 lines from screen edge
set cursorline              " highlight the current line


" Copy to global clipboard
nnoremap <C-c> "+y
vnoremap <C-c> "+y

" window navigation
nnoremap <c-h> <c-w>h       " move to the left window
nnoremap <c-l> <c-w>l       " move to the right window
nnoremap <c-j> <c-w>j       " move to the window below
nnoremap <c-k> <c-w>k       " move to the window above

" intellij tool window toggles
" toggle project tool window with leader + e
nnoremap <leader>e :action Toggleprojecttoolwindow<cr>
" close project tool window with leader + ee
nnoremap <leader>ee :action Hideactivewindow<cr>

nnoremap <leader>t :action Activateterminaltoolwindow<cr> " open terminal

nnoremap <leader>g :action Gotofile<cr>
nnoremap <leader>p :action Showrecentfiles<cr>

nnoremap gd :action Gotodeclaration<cr>
nnoremap gr :action Findusages<cr>
nnoremap gi :action Gotoimplementation<cr>
nnoremap <leader>d :action Gototypedeclaration<cr>
nnoremap <leader>ds :action Filestructurepopup<cr>
nnoremap <leader>ws :action Typehierarchypopup<cr>
nnoremap <leader>rn :action Renameelement<cr>
nnoremap <leader>ch :action Quickdocumentation<cr>
nnoremap <leader>ca :action Showintentionactions<cr>
nnoremap <leader>cg :action Generate<cr>
nnoremap <leader>cd :action Showerrorsinproject<cr>
nnoremap <leader>cf :action CodeFormatGroup<cr>
     
" additional mappings
nnoremap <leader>sf :action Searcheverywhere<cr>
nnoremap <leader>sw :action Findwordatcaret<cr>
nnoremap <leader>sg :action Searchgrep<cr>
nnoremap <leader>sd :action Showerrorsinfile<cr>
nnoremap <leader>sr :action Recentchanges<cr>
nnoremap <leader>s. :action Recentfiles<cr>
nnoremap <leader><leader> :action switcher<cr>

" navigate through suggestions with ctrl +n and ctrl + p
nnoremap <c-n> :action Nextlookupitem<cr>
nnoremap <c-p> :action Previouslookupitem<cr>

" trigger autocompletion if not showing
nnoremap <c-space> :action Codecompletion<cr>

" select the current suggestion
nnoremap <c-y> :action Editorchooselookupitem<cr>




